/*wsui-transform-center Start*/
.wsui-transform-center {
  &-x,
  &-xy,
  &-y {
    position: absolute;
  }

  &-x {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }

  &-y {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  &-xy {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
}
/*wsui-transform-center End*/
